@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white ;
}

.barra {
    display: flex;
    background-color: #691894;
    width: 1501px;
    height: 40px;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo da sidebar */
    color: white;
}

.barra h1 {
    font-family: "Alex Brush", cursive;
}

.sidebar {
    display: flex;
    background-color: #7A1CAC;
    width: 1501px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.sidebar a {
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}
.sidebar a:hover {
    padding: 30px
}
.sidebar footer {
    margin: 15px;
    color: rgb(0, 0, 0);
}
